@layer base {
	html {
		scroll-behavior: smooth;
		font-family: 'Poppins', sans-serif;
	}

	body { max-width: 100% }
	main {
		@apply bg-white;
	}
	.my-swal{
		margin-top: 6rem;
		margin-right: 1rem;
	}
	/* section {
		@apply max-w-7xl mx-auto;
	} */

	/* css variables */
	:root {
		--clr-primary: 29 103 149;
		--clr-secondary: 4 62 99;
		/* --clr-secondary: 246 183 100;
		--clr-dark: 0 0 0;
		--clr-white: 255 255 255;
		--clr-info: 58 191 248;
		--clr-success: 54 211 153;
		--clr-warning: 251 189 35;
		--clr-error: 248 114 114;
		--clr-failure: 71 0 0;
		--clr-unknown: 0 43 61; */
	}
}